a { text-decoration:none ; color:#000000}
a:hover { color: #A566FF;}

.navigation {
    .nav-wrapper {
        .row {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            .col-left {
                margin: 2.5vw;
            }
            .col-right {
                .menuBar {
                    .menu {
                        .link {
                            display: inline-block;
                            margin: 2vw;
                            padding-bottom: 3px;
                            border-bottom: 3px solid transparent;
                            cursor: pointer;
                        }
                        .link:hover{
                            color: #A566FF;
                            border-bottom: 3px solid #A566FF;
                            font-weight: 800;
                        }
                    }
                }
            }
            
        }
    }
}