.footer{
    margin-top: auto;
    background-color: #f8f8f8;
    font-size: 13px;
    color: #707070;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    .container {
        .row {
            .col {
                .small-container {
                    margin: 1vw;
                }
            }
        }
    }
}