.login-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    .google-btn, .facebook-btn {
        width: 1.5rem;
        height: 1.5rem;
        margin-right: 1rem;
    }
}

.login-wrapper:hover{
    font-weight: 800;
}

.sign-up-and-forget {
    margin-top: 2rem;
    margin-bottom: .5rem;
    text-align: center;
    a {
        margin-left: 2rem;
        font-size: 1.1rem;
    }
    a:hover { color: #A566FF;}
}